<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Luckiest+Guy&family=Old+Standard+TT&family=Orbitron&family=Righteous&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel = "icon" 
        href ="https://i.imgur.com/P8xlQOp.png" 
        type = "image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Syntaxify</title>
  </head>

  <body>
    <h1
      class="mt-6 text-center syne text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
    >
      <span className="relative">
        <span id="typing-effect" className="h-20 pt-2 overflow-x-hidden whitespace-nowrap text-brand-accent">Syntaxify</span>
  </h1>
    <div class="dark bg-white">
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        >
          <svg
            class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
            viewBox="0 0 1155 678"
          >
            <path
              fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)"
              fill-opacity=".3"
              d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
            />
            <defs>
              <linearGradient
                id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533"
                x1="1155.49"
                x2="-78.208"
                y1=".177"
                y2="474.645"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#9089FC" />
                <stop offset="1" stop-color="#FF80B5" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="mx-auto max-w-2xl py-16 sm:py-48 lg:py-32">
          <div class="text-center">
            <h1
              class="syne text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
            >
              Documentation Meets Social Media
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Syntaxify is your new home for all your programming documentation
              needs. With everything just a click away, join the Syntaxify
              Family today!
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="auth/google"
                class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >Sign In</a
              >
              <a href="/team" class="text-sm font-semibold leading-6 text-gray-900"
                >Meet Our Team <span aria-hidden="true">→</span></a
              >
            </div>
          </div>
        </div>
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        >
          <svg
            class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]"
            viewBox="0 0 1155 678"
          >
            <path
              fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)"
              fill-opacity=".3"
              d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
            />
            <defs>
              <linearGradient
                id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc"
                x1="1155.49"
                x2="-78.208"
                y1=".177"
                y2="474.645"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#9089FC" />
                <stop offset="1" stop-color="#FF80B5" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>

    <script>
      const typingEffect = document.getElementById("typing-effect");
      const text = typingEffect.innerText;
      typingEffect.innerText = "";
    
      let index = 0;
      function showNextLetter() {
        typingEffect.innerText += text[index];
        index++;
        if (index >= text.length) {
          clearInterval(timer);
        }
      }
    
      const timer = setInterval(showNextLetter, 100);
    </script>


  </body>
</html>
