<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Luckiest+Guy&family=Old+Standard+TT&family=Orbitron&family=Righteous&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <title></title>
  </head>

  <nav>
    <img src="https://i.imgur.com/P8xlQOp.png">
    <ul>
      <li><a href="/" class="route-option">Home</a></li>
      <li><a href="/" class="route-option">Languages</a></li>
      <li><a href="/" class="route-option">Frameworks</a></li>
      <li><a href="/" class="route-option">Databases</a></li>
      <% if (user) { %>
        <li><a href="/logout">LOG OUT</a></li>
      <% } else { %>
        <li><a href="/auth/google" class="login"
        >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
      /></a></li>
      <% } %>
  </ul>
  </nav>

  <body>
    <main>
      <h1></h1>
      <div class="sidebar" style="display:none" id="mySidebar">
        <button class="close-sidebar"
        onclick="closeSidebar()">Close &times;</button>
        <ul>
          <li>
            <a href="#" class="languages-route">Languages</a>
          </li>
          <li>
            <a href="#" class="frameworks-route">Frameworks</a>
          </li>
          <li>
            <a href="#" class="databases-route">Databases</a>
          </li>
        </ul>
      </div>
      
      <div id="main">
      
      <div class="w3-teal">
        <button id="openNav" class="hamburgerButton" onclick="openSidebar()">&#9776;</button>
        <div class="container"></div>
      </div>
      
      