body {
	background: linear-gradient(-45deg, #ee7752, #f73e3e, #a11111, #d52323);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* body { */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* margin: 0; */
  /* background: url(../images/background.gif);
  background-size: cover; */
/* } */

a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
}

a:hover {
  color: rgb(141, 134, 134);
}

h1 {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
}

nav {
  background-color: white;
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px 0 black;
}

nav * {
  display: inline;
}

nav li {
  margin: 20px;
}


.route-option {
  color: black;
}

.route-option:hover {
  background: #000000;
  color: white;
  border-bottom: solid #d52323;
  border-radius: .1rem;
  padding: 10px;
}

img {
  height: 80px;
}

.login {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 34px;
  color: black;
}

.login img {
  height: 30px;
}

.login:hover {
  background: #000000;
  color: white;
  border-bottom: solid #d52323;
  border-radius: .1rem;
  padding: 10px;
}