<%- include('../partials/header') %>

<h1>SYNTAXIFY</h1>

<form id="new-form" action="/documentations" method="POST">
  <label>Title:</label>
  <input type="text" name="title" />
  <label>Content:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Language" />
</form>

<%- include('../partials/footer') %>
