<%- include('./partials/header') %>

<h1>SYNTAXIFY</h1>
<table id="list">
    <thead>
      <tr>
        <th>Frameworks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% documentations.forEach(function(d) { %>
        <tr>
          <td><%= d.title %></td>
          <td><a href="/documentations/<%= m._id %>">MORE DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('./partials/footer') %>