<%- include('../partials/header') %> 

</h1>SYNTAXIFY</h1>
<br>
<div class="Langauges">
    <h2>Languages</h2>
    <img>
    <p></p>
    <button href="/" class="about">About</button>
</div>
<br>
<div class="Frameworks">
    <h2>Frameworks</h2>
    <img>
    <p></p>
    <button href="/" class="about">About</button>
</div>
<br>
<div class="Databases">
    <h2>Databases</h2>
    <img>
    <p>Allan is hella wierd</p>
    <button href="/" class="about">About</button>
</div>

<%- include('../partials/footer') %>
