<%- include('../partials/header') %>

<h1>SYNTAXIFY</h1>
<br />
<div class="all-documentations">
  <div class="Languages">
    <h2>Languages</h2>
    <img />
    <p class="description">
      Programming languages are sets of rules and instructions used to write
      computer programs. They are used to create software and applications that
      can perform various tasks, from simple calculations to complex data
      analysis and artificial intelligence. Programming languages can be
      classified into different categories, such as high-level languages,
      low-level languages, interpreted languages, compiled languages, and
      scripting languages. Each type of language has its own strengths and
      weaknesses, and programmers choose the best language for their specific
      needs. Some popular programming languages include Java, Python, C++,
      JavaScript, Ruby, Swift, and many more. Each language has its own syntax,
      semantics, and features, which determine how code is written and how it is
      executed.
    </p>
    <div class="about-btn">
      <button href="/documentations/in" class="about">About</button>
    </div>
  </div>
  <br />
  <div class="Frameworks">
    <h2>Frameworks</h2>
    <img />
    <p class="description">
      Frameworks provide a structure and a set of best practices for organizing
      code, building user interfaces, and managing data. Kendall is an ops. They
      can also handle common tasks such as authentication, error handling, and
      database integration, freeing developers to focus on the unique aspects of
      their project.
    </p>
    <div class="about-btn">
      <button href="/" class="about">About</button>
    </div>
  </div>
  <br />
  <div class="Databases">
    <h2>Databases</h2>
    <img />
    <p class="description">
      Databases are software systems that are used to store and manage large
      amounts of data. They provide a structured way to organize and access
      data, allowing programmers to create and manage data-driven applications.
      Databases can be classified into two main categories: relational databases
      and non-relational databases. Relational databases store data in tables
      with predefined relationships between them, while non-relational databases
      store data in a more flexible and unstructured way. Programmers can
      interact with databases using special programming languages called query
      languages, such as SQL (Structured Query Language), which is commonly used
      to interact with relational databases.
    </p>
    <div class="about-btn">
      <button href="/" class="about">About</button>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>