<%- include('../partials/header') %>

<h1
  class="flex justify-center mt-10 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
>
  SYNTAXIFY
</h1>
<br />
<section class="py-32 px-8">
  <div class="flex justify-between px-[20%]">
    <div
      class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="/documentations/languages">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Languages
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Programming languages are formal languages that are used to communicate
        instructions to a computer. They are designed to enable programmers to
        write code that can be executed by a computer, allowing them to create a
        wide range of applications and software.
        <br />
        Programming languages are used to create everything from simple scripts
        and utilities to complex web applications, mobile apps, and games. There
        are many different programming languages, each with its own syntax,
        semantics, and features.
        <br />
        Each programming language has its own strengths and weaknesses, and the
        choice of language depends on the specific requirements of the project.
        Programmers must be skilled in one or more programming languages to
        create software and applications.
      </p>
      <div class="flex justify-center items-end">
        <a
          href="/documentations/languages"
          class="inline-flex justify-end px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          About
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <br />
    <div
      class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="/documentations/frameworks">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Frameworks
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        In programming, a framework is a pre-written codebase that provides a
        standardized way of building applications. Frameworks provide a set of
        tools, libraries, and best practices that help developers create
        applications quickly and efficiently by providing a common structure and
        architecture.
        <br />
        Frameworks are designed to simplify the development process by providing
        pre-built components, modules, and features that can be easily
        customized and integrated into an application. They provide developers
        with a starting point, a set of conventions to follow, and a set of
        rules to ensure consistency across the codebase. Frameworks are
        available for a wide range of programming languages, including
        JavaScript, Python, Ruby, and Java. Some of the most popular frameworks
        include React, Angular, Ruby on Rails, Django, and Laravel.
        <br />
        Overall, frameworks are a powerful tool for developers, providing a
        standardized approach to building applications and helping to streamline
        the development process.
      </p>
      <div class="flex justify-center items-center">
        <a
          href="/documentations/frameworks"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          About
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <br />
    <div
      class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="/documentations/databases">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Databases
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Databases are an essential part of modern programming and are used to
        store and manage structured data. A database is a collection of data
        that is organized in a specific way to allow for efficient storage,
        retrieval, and manipulation of data. Databases can range from small,
        simple systems to large, complex systems that store massive amounts of
        data. Programmers use databases to store and manage data for
        applications such as e-commerce websites, social networks, and
        enterprise resource planning (ERP) systems. Databases can be classified
        into two main types: relational and non-relational.
        <br />
        Relational databases are the most common type of database and are based
        on the relational model. They use a series of tables to store and
        organize data, with each table containing a set of rows and columns.
        Data is stored in a structured manner and can be accessed and
        manipulated using the Structured Query Language (SQL).
        <br />
        Non-relational databases, on the other hand, are designed to handle
        unstructured or semi-structured data. They do not use tables to store
        data but instead use other data models such as key-value, document, or
        graph. These databases are often used for big data and real-time data
        applications.
        <br />
        Databases are a critical component of modern programming and are used to
        store and manage large amounts of data efficiently. They are essential
        for the development of complex applications and are an important tool
        for data-driven decision making.
      </p>
      <div class="flex justify-center items-center">
        <a
          href="/documentations/databases"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          About
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<br />

<%- include('../partials/footer') %>
